<div class="k">
    <div ><h1 ><b>Myers-Briggs Type Indicator</b></h1></div>
    <div class="dis"><b>Welcome to our innovative personality testing application! Are you ready to uncover the fascinating facets of your personality and gain a deeper understanding of yourself? Our tool is designed to provide you with valuable insights into your unique blend of traits and tendencies, giving you the clarity and confidence to navigate life with greater ease. Whether you're a free spirit or a logical thinker, our application will help you discover the aspects of your personality that make you, well... you! So, let's get started – take the first step towards unlocking your full potential today</b></div>
    <div class="im"> <img src="http://localhost/landing_image.WEBP"> </div>
</div>
