/* Use consistent naming conventions for classes and IDs */
.left-column {
    flex: 50%;
  }
  
  .right-column {
    flex: 50%;
  }
  
  /* Use whitespace and indentation to improve readability */
  mat-toolbar {
    background-color: #286998;
    color: white;
  }
  
  h1 {
    padding-top: 20px;
  }
  
  mat-button-toggle-group {
    margin-left: 560px;
    margin-top: 60px;
    border: none;
  }
  
  .mat-button-toggle {
    background-color: #2a2b38;
    color: white;
  }
  
  .mat-button-toggle-checked {
    background-color: #102131;
    color: black;
  }
  
  mat-card {
    width: 300px;
    height: auto;
    padding: 20px;
    text-align: center;
    margin-left: 470px;
    margin-top: 10px;
    background-color: #2a2b38;
    box-shadow: 3px 7px 10px #666466;
  }
  
  input {
    width: 100%;
    height: 40px;
    margin-top: 15px;
  }
  
  input:focus {
    outline-style: none;
    border: solid #106c86;
  }
  
  button {
    margin-top: 15px;
    background-color: #0d99c0;
    border: none;
    width: 50%;
    height: 40px;
    border-radius: 10px;
  }
  
  a p {
    margin-top: 10px;
    float: left;
    color: #31c2e6;
  }
  
  .text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    margin-top: 50px;
    padding: 20px;
  }
  
  .fade-in-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: fadeIn 8s;
    font-size: xx-large;
    margin-top: 20px;
    padding: 20px;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      color: #666466;
    }
    100% {
      opacity: 1;
      color: white;
    }
  }
  
  p {
    color: white;
  }
  