
  
    <div class="rform">
        <h3>Fill your feedback</h3>
        <form  [formGroup]="feedbackForm"  (submit)="saveFeedback()">
               <table>
                   <tr>
                   <th>Name</th>
                   <td><input type="text" formControlName="name"></td>
                   <td>
                          <div *ngIf='feedbackForm.controls.name.hasError("required")'>
                                 </div>
                       <div *ngIf='feedbackForm.controls.name.hasError("minlength")'>
                                      Atleast Three Characters long</div>
                   </td>
                   </tr>
                    <tr>
                   
                   <tr>
                  
                       <th>Message</th>
                       <td><textarea rows=6 cols=50 formControlName="message">
                           </textarea></td>
                       <td>
                              <div *ngIf='feedbackForm.controls.message.hasError("required")'>
                                      </div>
                            <div *ngIf='feedbackForm.controls.message.hasError("minlength")'>
                                        Atleast 15 characters long</div>
                       </td>
                   </tr>
                   <tr><td colspan="3" style="text-align:center">
                          <button type="submit"  class="btn btn-primary" [disabled]="!feedbackForm.valid">
                                     Post Feedback</button>
                      </td></tr>
               </table>
          
          
          </form>
      </div>