<div class="home">
<mat-toolbar class="menu-bar">
    <span class="title"> Personality</span> 
    <ul>
      <li><a routerLink="home">{{"menubar.home"|translate}} </a></li>
     <li> <a routerLink="Blog1">{{"menubar.blog"|translate}}</a></li>
      <li><a routerLink="Personality">{{"menubar.personalitytype"|translate}}</a></li>
      <li><a routerLink="Personality1">{{"menubar.personalitytest"|translate}}</a></li>
      <li><a routerLink="forum">{{"menubar.forum"|translate}}</a></li>
    </ul> 
    <select [(ngModel)]="language" (change)="changeLanguage()">
      <option *ngFor="let x of languages" value="{{x.value}}">{{x.name}} </option>
    </select>
   
</mat-toolbar>
</div>
<router-outlet></router-outlet>