.test1{
    float:right;
    margin-right:3%;
   
    }
    .pd{
        background: linear-gradient( #ffe4dc 10%,#ff8c64 50%);
        margin-top: -5px;
    }
    .test2
    {
        padding-top: 10px;
    }
